<!DOCTYPE html>
<html lang='en'>
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <% for (var key in smallDatabase) { %>
  <form method="POST" action="/urls">
  </form>
  <form method="POST" action="/urls/<%= key %>/delete">
    <ul>
      <li>
         http://localhost:8080/u/<%= key %> : <a style="color:#3b3a36;" href="<%= smallDatabase[key].longURL %>"><%= smallDatabase[key].longURL %></a>
        <a style="color:#3b3a36;" href="/urls/<%= key %>" id="edit">Edit</a>
        <button type="submit" class="button">Delete</button>
      </li>
  </ul>
  </form>
  <% }; %>
  <form method="GET" action="/urls/new">
    <button type="submit">Create a New Short Link</button>
  </form>

</body>
</html>