<!DOCTYPE html>
<html lang='en'>
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <% for (let urlName in urls) { %>
  <% if (username){ %>
  <form method="POST" action="/urls/<%= urlName %>/delete">
    <ul>
      <li>
        <%= urlName %> : <a style="color:#3b3a36;" href="<%= urls[urlName] %>"><%= urls[urlName] %></a>
        <a style="color:#3b3a36;" href="/urls/<%= urlName %>" id="edit">Edit</a>
        <button type="submit" class="button">Delete</button>
      </li>
  </ul>
  </form>
    <% } else { %>
      <form method="POST" action="/urls">
    <% } %>
  <% }; %>
  </ul>
</body>
</html>