<!DOCTYPE html>
<html lang='en'>
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
    <form method="GET" action="/">
    <button type="submit">Logout</button>
    </form>
    <h1> Hello <%= username %></h1>
  <% for (let urlName in urls) { %>
  <form method="POST" action="/urls">
  </form>
  <form method="POST" action="/urls/<%= urlName %>/delete">
    <ul>
      <li>
        <%= urlName %> : <a style="color:#3b3a36;" href="<%= urls[urlName] %>"><%= urls[urlName] %></a>
        <a style="color:#3b3a36;" href="/urls/<%= urlName %>" id="edit">Edit</a>
        <button type="submit" class="button">Delete</button>
      </li>
  </ul>
  </form>
  <% }; %>
  <form method="GET" action="/urls/new">
    <button type="submit">Create new URL</button>
  </form>
</body>
</html>